body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#cameraOutput {
  width: 100%;
  height: 400px;
  background-color: #eee;
  margin-bottom: 10px;
}

#result {
  margin-bottom: 10px;
}

#feedback {
  margin-bottom: 10px;
}

#startStopBtn {
  padding: 10px;
}
